
body{
    margin: 0;
    background-color: black;
}
header{
    
    padding-bottom: 70px;
    height: 650px;
    background-size: cover;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/d282a426-b01a-424c-9b83-2c2445e4b61a/f7a45b34-e751-46ce-aaf0-abaadd338856/ZA-en-20230626-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    opacity: 1;
    background-origin: content-box;
}
header h1{
    color: #e71d36;
    font-size: 50px;
    margin-left: 50px;
}
header input{
    color:white;
    background-color: #e71d36;
    padding: 10px;
    border-radius: 7px;
    border-color: #e71d36;
}
#signin{
    position: relative;
    float: right;
    bottom: 85px;
    right: 100px;
    width: 2cm;
}

section{
        color: white;
    }

.section-0{
    font-size: 30px;
    margin: 250px;
    position: relative;
    bottom: 50px;
}
input[type="email"]{
    background-color: #00000000;
    margin-left: 35%;
    width: 28%;
}
hr{
    width: 100%;
    height:9%;
    border-color: black;
    border: 4px solid #343a40;
}
.section-1{
    text-align: center;
    font-size: xx-large;
    display:flex;
    flex-direction: row;
}

.section-2{
    display: flex;
    flex-direction: row-reverse;
    color:#FFFFFF;
    font: 32px sans-serif;
}
.section-3{
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    font:32px sans-serif ;
    margin-left: 19%;
}
.watch{
    width:29%;
}
.section-4{
    display: flex;
    flex-direction: row-reverse;
    color: #FFFFFF;
    font: 32px sans-serif;
}
.section-5{
    font: 32px sans-serif;
    color: #FFFFFF;
    text-align: center;
    display: grid;
    row-gap: 6px;

}
.section-5 button{
    color: #FFFFFF;
    font: 32px sans-serif;
    background-color: #343a40 ;
    width: 80%;
    padding: 3%;
    
    
}
#get-started{
    background-color: #e71d36;
    color: #FFFFFF;
    font: 32px sans serif;
    width: 18%;
    padding: 1%;
    position: relative;
    right: 100px;
    border-radius: 12px;
}
#email{
    padding: 2%;
    background-color: transparent;
    color: #FFFFFF;
    margin-right: 10%;
}
.out{
    position: relative;
    right: 12%;
}
.section-6{
    display: grid;
    column-gap: 2%;
    margin: 2%;
    grid-template-columns: 1fr 1fr 1fr;
}
footer select{
    width: 9%;
    background-color: #00000000;
    color: #FFFFFF;
    padding: 1%;
    margin: 23px;
}